* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google font */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared list */
.bg-color {
    background-color: rgba(26, 11, 46, 1);
}

/* small text color */
.light-grea {
    color: rgba(255, 255, 255, 1);
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    background: rgba(26, 11, 46, 1);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger-img {
    width: 30px;
    height: auto;
    display: block;
}

.logo {
    color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 1);
}

.logo span {
    color: #eb05b1;
}

nav>a {
    margin: 0 32px;
    text-decoration: none;
}

.btn {
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    color: #FFFFFF;
}

/* Hreo section */
.hero-container {
    width: 100%;
    min-height: 100vh;
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0b011d;
    display: flex;
    justify-content: center;
    align-items: center;
}


.image-wrap {
    width: 250px;
    height: 250px;
    background-image: url('./assets/hero-circle.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
}


.mic-top-layer {
    width: 100px;
    position: absolute;
}


.new {
    position: absolute;
    top: 25px;
    right: 15px;
    background: #00ffa3;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
}


.text-info {
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.text-info h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.text-info p {
    margin-bottom: 30px;
    opacity: 0.8;
    color: rgba(255, 255, 255, 1);

}

.btn-row {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn-spotify {
    padding: 12px 25px;
    background: linear-gradient(to right, #ff00cc, #3333ff);
    border: none;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}

.btn-subscribe {
    padding: 12px 25px;
    background: transparent;
    border: 2px solid #00ffa3;
    color: #00ffa3;
    border-radius: 30px;
    cursor: pointer;
}

.btn-spotify img,
.btn-subscribe img {
    width: 20px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}




.about-section {
    background-color: rgba(26, 11, 46, 1);
    padding: 80px 20px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
}


.about-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-d,
.about-s,
.join-text {
    max-width: 700px;
    margin: 10px auto;
    line-height: 1.6;
    opacity: 0.8;
    color: rgba(255, 255, 255, 1);
}

.join-text {
    margin-top: 30px;
    border-bottom: 1px solid #333;
    padding-bottom: 40px;
}


.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 20px;
}

.box {
    flex: 1;
    min-width: 150px;
}

.number {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.color-green {
    color: #00ffa3;
}

.label {
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 2px;
    font-weight: bold;
}


.features-section {
    background-color: rgba(35, 14, 61, 1);
    padding: 100px 0;
    color: rgba(255, 255, 255, 1);
}

.features-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.features-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 60px;
}


.features-grid {
    display: grid;
    grid-template-columns: 1.2fr 1.5fr 1fr;
    grid-template-rows: auto auto;
    gap: 24px;
}

.f-card {
    background: rgba(53, 17, 101, 0.4);
    padding: 40px 30px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.f-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 25px;
    object-fit: contain;
}

.f-card h3 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 600;
}

.f-card p {
    opacity: 0.8;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    line-height: 1.6;
}

.f-large {
    grid-row: 1 / 3;
}

.f-medium {
    grid-column: 1 / 3;
}

.container-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}

.episodes-section,
.host-section {
    padding: 100px 0;
    background-color: rgba(26, 11, 46, 1);
    color: rgba(255, 255, 255, 1);
}

.section-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
}

.episodes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.ep-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.t-box {
    position: relative;
    height: 180px;
}

.t-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-overlay span {
    background: #ff00cc;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ep-content {
    padding: 25px;
}

.ep-content h3 {
    margin-bottom: 12px;
    font-size: 18px;
}

.ep-content p {
    font-size: 14px;
    color: rgba(255, 255, 255, 1) line-height: 1.5;
    margin-bottom: 15px;
}

.ep-time {
    color: #00ffa3;
    font-weight: bold;
    font-size: 13px;
}

.host-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 25px;
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.host-img-box img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.host-text h3 {
    font-size: 26px;
    margin-bottom: 15px;
}

.host-text p {
    opacity: 0.8;
    color: #ccc;
    line-height: 1.6;
    margin-bottom: 25px;
}

.host-socials {
    display: flex;
    gap: 15px;
    padding: 20px 25px;

}

.host-socials a img {
    width: 40px;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    padding: 5px 5px 5px 5px;

}

.footer {
    background-image: url('./assets/footer-bg.png');
    background-size: cover;
    background-position: center;
    padding: 80px 0 40px 0;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.footer-content {
    max-width: 1100px;
    margin: 0 auto;
}

.footer-logo {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer-logo span {
    color: rgba(238, 11, 170, 0.87)
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

.f-link {
    display: flex;
    align-items: center;
    gap: 8px;
    opacity: 0.8;
    transition: 0.3s;
}

.f-link img {
    width: 18px;
    height: auto;
}

.f-link span {
    font-size: 14px;
    color: rgba(255, 255, 255, 1)
}

.copyright {
    font-size: 13px;
    color: rgba(255, 255, 255, 1) margin-top: 20px;
}


/* Responsive Breakpoints */
@media screen and (max-width: 576px) {
    .hamburger {
        display: block;
    }

    .nav-links,
    .btn.nav-btn {
        display: none;
    }

    .navbar {
        padding: 20px 20px;
    }

    .mic-top-layer {
        width: 70px;
    }

    .btn-row {
        flex-direction: column;
        gap: 15px;
    }

    .row {
        flex-direction: column;
        gap: 30px;
    }

    .box {
        width: 100%;
    }

    .features-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .f-large {
        grid-row: auto;
    }

    .f-medium {
        grid-column: auto;
    }

    .episodes-grid {
        grid-template-columns: 1fr;
    }

    .host-card {
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
    }

}

.host-socials {
    justify-content: center;
}

.footer-logo {
    font-size: 40px;
}

.footer-links {
    flex-direction: row;
    gap: 15px;
}
}